@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../../../public/Poppins-Regular.ttf") format("truetype");
  }
  html {
    font-family: Poppins;
  }
}

.card {
  @apply bg-white text-gray-700
        w-full min-h-[8.5rem]
        shadow-lg shadow-gray-200 rounded-md overflow-hidden;
}

td {
  text-align: center;
  padding: 12px 20px;

}

th {
  padding: 12px 40px;
  
}

/* Style Punya Swipper */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  font-size: 1rem !important;
  width: 1rem;
  color: white !important;
  background-color: #73ca5c;
  padding: 1.5rem;
  border-radius: 10%;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #73ca5c !important;
}

/* Di dalam file CSS atau di dalam komponen dengan style Filter Mobile JSX */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}

.pop-up::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.pop-up::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.pop-up::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6148FF;
}

.file-btn{
  background: #6148FF;
  border-radius: 25px;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
  border: 3px solid #222;
}


.table-kelas::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.table-kelas::-webkit-scrollbar
{
	width: 1rem;
	background-color: #F5F5F5;
}

.table-kelas::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #6148FF;
}