@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../../../public/Poppins-Regular.ttf") format("truetype");
  }
  html {
    font-family: 'Poppins', sans-serif !important;
  }
}

.card {
  @apply bg-white text-gray-700
        w-full min-h-[8.5rem]
        shadow-lg shadow-gray-200 rounded-md overflow-hidden;
}

td {
  text-align: center;
  padding: 12px 20px;

}

th {
  padding: 12px 40px;
  
}

/* Style Punya Swipper */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  font-size: 1rem !important;
  width: 1rem;
  color: white !important;
  background-color: #73ca5c;
  padding: 1.5rem;
  border-radius: 10%;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #73ca5c !important;
}

/* Di dalam file CSS atau di dalam komponen dengan style Filter Mobile JSX */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}



.file-btn{
  background: #6148FF;
  border-radius: 25px;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
  border: 3px solid #222;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b9b5ba #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b9b5ba67;
    border-radius: 10px;
    border: 3px double #ffffff;
  }