@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    width: 0.3rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#073A75, #7805A1);
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../../../public/Poppins-Regular.ttf") format("truetype");
  }
  html {
    font-family: Poppins;
  }
}

.card {
  @apply bg-white text-gray-700
        w-full min-h-[8.5rem]
        shadow-lg shadow-gray-200 rounded-md overflow-hidden;
}

@media (max-width: 320px) {
  .card {
    @apply rounded-2xl
  }
}

@media (max-width: 320px) {
  .mobile {
    @apply w-[19rem]
  }
}

td {
  padding: 12px 20px;
}

th {
  padding: 9px 20px;
}

/* Style Punya Swipper */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  font-size: 1rem !important;
  width: 1rem;
  color: white !important;
  background-color: #73ca5c;
  padding: 1.5rem;
  border-radius: 10%;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #73ca5c !important;
}

/* Di dalam file CSS atau di dalam komponen dengan style Filter Mobile JSX */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
